.container {
    display: flex;
    gap: 20px;
    flex-direction: column;

    .example-card {
        width: 500px;
        max-width: 520px;

        .mat-mdc-card-content {
            padding: 16px;
        }
    }

}